*{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    scroll-behavior: smooth;
    
}
 

.First{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: block;
    background-color: #a19beb;
    padding-top: 15px;

}



.logo{  
    float: left;
    margin-left: 46px;
    padding: 0px 38px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.logo a{
    text-decoration: none;
    color: #ffffff;
}

.nav{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
}

.aca{
    background-color: rgba(19, 17, 17, 0.7);
    position: fixed;
    z-index: 1;
}

.nav ul{
    list-style: none;
    cursor: pointer;
    float: right;
    margin-right: 140px;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 15px 15px;
    font-weight: 400;
}

.login{
      list-style: none;
    display: inline-block;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 15px 15px;
    font-weight: 400;
}




.nav ul li:hover{
    border-bottom: 0px solid #000000;
    transition: all .3s ease;
    color: #594bf8;
}

.header{
    width: 29%;
    text-align: center;
    position: absolute;
    top: 42%;
    left: 72%;
    transform: translate(-50%, -50%);
    
}

.header h1{
    color: #ffffff;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    filter: drop-shadow(1px 1px 3px rgb(70, 67, 67));
}

.header span{
    color: #594bf8;
}

.content-header{
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 55%;
    left: 72%;
    

}

.content-header p{
    color: #fff;
    font-family: 'Poppins', sans-serif;    
    font-size: 17px;
    text-align: left;
    color: #F5EFE6;
}

.col-img{
    position: absolute;
    
    top: 44%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: -webkit-right;
    filter: drop-shadow(0px 5px 11px);
}

/* Collab */
.judul{
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 5px 5px 0px 5px;
    align-items: center;
    text-align: center;
    font-size: 25px;
  
}

.PapaGading,.ayam,.chicco{
    text-align: center;
    align-items: center;
    margin-left: 40px;
    filter: drop-shadow(1px 2px 3px rgb(150, 142, 142));
}



.judul h1{
    font-size: 40px;
    font-weight: normal;
    position: relative;
    margin: 40px 0;
}

.judul h1::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #594bf8;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);   
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}



.section-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    width: 85%;
    margin: 40px auto;
    background-color: #fff;
}

.card{
    background-color: #fff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
}

.card__img{
    width: 100%;
    display: block;
}

.card__details{
    padding: 10px 0;
}

.card__details p{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
}


.card__details p:not(:last-child){
    border-bottom: 1px solid;
}

.btn{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #eee;
    font-weight: 500;
    display: inline-block;
    padding: 14px 20px;
    border-radius: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}

.btnd{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #eee;
    font-weight: 500;
    display: inline-block;
    padding: 14px 20px;
    border-radius: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}
.card-1 .btnd{
    background-color: #000000;
}

.card-1 .btnd:hover{
    background-color: #594bf8;
}
.card-2 .btnd:hover{
    background-color: #594bf8;
}
.card-3 .btnd:hover{
    background-color: #594bf8;
}


.card-2 .btnd{
    background-color: #000000;
}
.card-3 .btnd{
    background-color: #000000;
}


.card-1 .btn{
    background-color: #594bf8;
}
.card-2 .btn{
    background-color: #594bf8;
}
.card-3 .btn{
    background-color: #594bf8;
}
/* End Collab */

/* Gallery */
.apasih{
    display: none;
}

.container-gallery{
    padding-top: 40px;
    width: 100%;
    text-align: center;
}

.container-gallery h1{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin: 40px 0;
}

.container-gallery h1::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #594bf8;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);   
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

.top-content{
    background-color: rgb(243, 243, 243);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}

.container-gallery h3{
    height: 100%;
    background-color: rgb(221, 221, 221);
    line-height: 60px;
    padding: 0 50px;
    color: white;
}

label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: .5s;
}

label:hover{
    color: black;
}

.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
}

.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}

.pic::before{
    /* content:  "Kontol"; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    margin-top: -100px;
    width: 100%;
    font-weight: bold;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.pic::after{
    /* content: ""; */
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 0;
    background-color: rgba(0, 0, 0,.4);
    border-radius: 10px;
    transition: .3s;
}

.pic:hover::after{
    height: 100%;
}

.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}

#check1:checked ~ .container-gallery .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2:checked ~ .container-gallery .photo-gallery .family{
    transform: scale(1);
    opacity: 1;
    position: relative;

}
#check2:checked ~ .container-gallery .photo-gallery .child,
#check2:checked ~ .container-gallery .photo-gallery .place{
    opacity: 0;
    transform: scale();
    position: absolute;
    transition: .0s;
}

#check3:checked ~ .container-gallery .photo-gallery .child{
    transform: scale(1);
    opacity: 1;
    position: relative;

}
#check3:checked ~ .container-gallery .photo-gallery .family,
#check3:checked ~ .container-gallery .photo-gallery .place{
    opacity: 0;
    transform: scale();
    position: absolute;
    transition: .0s;
}

#check4:checked ~ .container-gallery .photo-gallery .place{
    transform: scale(1);
    opacity: 1;
    position: relative;

}
#check4:checked ~ .container-gallery .photo-gallery .family,
#check4:checked ~ .container-gallery .photo-gallery .child{
    opacity: 0;
    transform: scale();
    position: absolute;
    transition: .0s;
}

#check5:checked ~ .container-gallery .photo-gallery .family,
#check5:checked ~ .container-gallery .photo-gallery .child{
    opacity: 0;
    transform: scale();
    position: absolute;
    transition: .0s;
}

.section-bejir{
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    margin-top: 10px;
}

.container-bejir{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 210px;
}

.content-section{
    float: left;
    width: 55%;
}

.image-section{
    float: right;
    width: 40%;
    
}

.image-section img{
    width: 100%;
    height: auto;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content-apa h3{
    
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.content-section .content-apa p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content-apa .button{
    margin-top: 30px;
}

.content-section .content-apa .button a{
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content-apa .button a:hover{
    background-color: #594bf8;
    color: #fff;
}

.content-section .social{
    margin:40px 40px;
}

.content-section .social i{
    color: #000000;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover{
    color: #3d3d3d;
}

@media screen and (max-width: 768px){
    .container-bejir{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: right;
        width: 100%;
    }

    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;

    }

    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .content-apa .button{
        text-align: center;
    }
    .content-section .content-apa .button a{
        padding: 19px 30px;
    }
    .content-section .section-bejir{
        text-align: center;
    }
}


/* contact */
.rasya {
    background: #a19beb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    height: 100vh;
    margin: -20px 0 50px;
    padding: 10px;
}

.container-contact{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 522px;
    min-width: 370px;
}

.card-container {
    display: flex;
}

.left {
    flex: 1;
    height: 480px;
    background-color: #594bf8;
}

.right {
    display: flex;
    flex: 1;
    height: 460px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex: 1;
    height: 522px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


.left-container {
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 22px
}

.left p {
    font-size: 0.9rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.right-container {
    width: 70%;
    height: 80%;
    text-align: center;
}

input,
textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
}

input:focus,
textarea:focus {
    outline: 1px solid #00b4cf;
}

button {
    border-radius: 20px;
    border: 1px solid #00b4cf;
    background-color: #594bf8;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

textarea {
    height: 90px;
}
/* responsive */

@media only screen and (max-width: 600px){
    .left {
        display: none;
    }

    .lg-view {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .sm-view {
        display: none;
    }
}

